{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@next/next/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "react-app",
    "next",
    "next/core-web-vitals"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off", // next/link breaks it so i have to turn it off
    "no-var": "error",
    "react/button-has-type": "error",
    "react/destructuring-assignment": "warn",
    "react/no-array-index-key": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "unknown"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "warnOnUnassignedImports": true
      }
    ]
  }
}
