@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  @apply antialiased;
}

body {
  @apply overflow-x-hidden bg-neutral-900 font-sans text-white;
}

.link {
  @apply bg-gradient-to-r from-green-400 to-green-700 bg-[length:0%_2px] bg-left-bottom bg-no-repeat transition-all duration-200 hover:bg-[length:100%_2px];
}
